In [1]:
import pandas as pd

In [8]:
url="https://raw.githubusercontent.com//usama6naseer//largest_object//master//log.csv"

In [16]:
def fun(url):
    try:
        data=pd.read_csv(url)
        return data
    except:
        print("Invalid operation")

In [17]:
data=fun(url)

In [18]:
data

           9           qq.com
0         11       taobao.com
1         12      twitter.com
2         15           vk.com
3         16         live.com
4         21        weibo.com
...      ...              ...
15032  93939       moh.gov.sg
15033  93940  quericavida.com
15034  93941   jihadology.net
15035  93942          vlsu.ru
15036  93943    books24x7.com

[15037 rows x 2 columns]